body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

.matched-route path {
    stroke: #3498db;
    stroke-width: 5;
    opacity: 0.8;
    fill: none;
    stroke-linecap: round; 
    stroke-linejoin: round;
}